.card{
    margin-right: 12px !important;
}
.btn{
    
    margin-top: 12px;

}
.navbar-sidebar .navbar__list li a:hover {
    color: #0a111f !important;
}
.active{
color: #0a111f !important;
}

.aIN{
    color: #0a111f !important;
}


.rowTable{
    margin-right: -41px !important;
    margin-left: -50px !important;
}